<dom-module id="easy-money-transfer-form-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  --cells-radio-group-icon-radios-content: {
    margin-bottom: 0.15rem;
  }
  --cells-radio-button-icon-body-label: {
    margin-left: 2.5rem;
    margin: 0rem 1rem 0rem 1rem;
  };
  --cells-st-button-primary: {
    background-color: #000;
    color: #fff;
  };
  --cells-st-button-secondary: {
    background-color: gray; 
    color: #fff;
  };
  --cells-st-button-primary-hover:{
    background-color: rgb(50, 50, 50) ;
  };
  --cells-st-button-secondary-hover:{
    background-color: LightGray ;
  }; 

  font-family: var(--cells-fontDefault, sans-serif);
  @apply --easy-money-transfer-form; 
}
.radiogroupcuentas {
  --cells-radio-group: {
    margin: 0.5rem 1.15rem;
  };
}
.labelcuentas {
  font-size: 1.5rem;
  color: #2A86CA;
}

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  box-sizing: inherit; }

</style></template></dom-module>

<dom-module id="cells-heading-shared-styles"><template><style>
  :host {
    color: blue;
  }
</style></template></dom-module>

