<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="easy-money-transfer-form-styles.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<link rel="import" href="../cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../cells-radio-group/cells-radio-group.html">
<link rel="import" href="../cells-radio-button/cells-radio-button.html">
<link rel="import" href="../cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../cells-date-input/cells-date-input.html">
<link rel="import" href="../cells-product-item/cells-product-item.html">
<link rel="import" href="../cells-atom-amount/cells-atom-amount.html">
<!--
`<easy-money-transfer-form>` description.

Example:

```html
<easy-money-transbowerfer-form></easy-money-transfer-form>
```

## Icons

Since this component uses icons, it will need an [iconset](https://bbva.cellsjs.com/guides/best-practices/cells-icons.html) in your project as an [application level dependency](https://bbva.cellsjs.com/guides/advanced-guides/application-level-dependencies.html). In fact, this component uses an iconset in its demo.

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:---------------|
| --easy-money-transfer-form  | Mixin applied to :host     | {}  |
| --cells-fontDefault  | Font family of :host    | sans-serif  |

@customElement
@polymer
@demo demo/index.html
-->
<dom-module id="easy-money-transfer-form">
  <template>
    <style include="easy-money-transfer-form-styles easy-money-transfer-form-shared-styles"></style>
    <slot></slot>
    <div>
      <cells-product-item
        heading-level="2"
        name="[[_account.name]]"
        description="[[_account.description]]"
        primary-amount="{{_account.primaryAmount}}"
        img-src="[[_account.imgSrc]]"
        on-tap="_onItemTap">
      </cells-product-item>
    </div>
    <div>
      <cells-radio-group id="radioGroupTipoTransferencia" selected="0" aria-label="Tipo Transferencia" allowEmptySelection on-cells-radio-group-selected-changed="_handleTipoTransferenciaGroupSelectedChange">
        <cells-radio-button id="radioTraspaso" icon="coronita:deposit" icon-check="coronita:checkmark">Traspaso</cells-radio-button>
        <cells-radio-button id="radioTransferencia" icon="coronita:transfer" icon-check="coronita:checkmark">Transferencia</cells-radio-button>
      </cells-radio-group>
    </div>
      <cells-radio-group class="radiogroupcuentas" hidden$="{{isTransfer}}" id="radioGroupCuentas" aria-label="Cuentas" allowEmptySelection on-cells-radio-group-selected-changed="_handleCuentasGroupSelectedChange">
        <cells-heading class="labelcuentas" level="2"><strong>Cuentas</strong></cells-heading>
        <template is="dom-repeat" items=[[accounts]] as="account">
          <cells-radio-button id="[[account.id]]">[[account.iban]] - <cells-atom-amount class="amount-medium" amount="[[account.balance]]" currency-code="EUR" local-currency="EUR"></cells-atom-amount></cells-radio-button>
        </template>
      </cells-radio-group>

      <template is="dom-if" if="{{isTransfer}}">
        <p>
          <cells-molecule-input name="ibantarget" label="IBAN" type="text"
            icon="coronita:close" icon-label="Borrar campo"
            required error-message="Campo obligatorio" value="{{ibanTarget}}">
          </cells-molecule-input>
        </p>
        <p>
        <cells-molecule-input name="beneficiary" label="Beneficiario" type="text"
            icon="coronita:close" icon-label="Borrar campo"
            required error-message="Campo obligatorio" value="{{beneficiary}}">
          </cells-molecule-input>
        </p>
      </template>
    <p>
      <cells-molecule-input name="amount" label="Importe" type="number"
        icon="coronita:close" icon-label="Borrar campo"
        required error-message="Campo obligatorio" value="{{amount}}">
      </cells-molecule-input>
    </p>

    <p>
      <cells-molecule-input name="subject" label="Concepto" type="text"
        icon="coronita:close" icon-label="Borrar campo"
        required error-message="Campo obligatorio" value="{{subject}}">
      </cells-molecule-input>
    </p>
    <p>
      <cells-date-input id="datetransfer" locale="es" text="Fecha" format="DD/MM/YYYY" allow-past-date on-date-changed="_handleDateChanged">
      </cells-date-input>
    </p>

    <p>
      <cells-st-button on-click="_handleCancelarClick" class="size-xs secondary content-left">
        <button>Cancelar</button>
      </cells-st-button>
      <cells-st-button on-click="_handleAceptarClick" class="size-xs primary content-right">
        <button>Aceptar</button>
      </cells-st-button>
    </p>
    <br/>

    <cells-generic-dp
        id="addtransferdp"
        host="http://localhost:3010"
        path="easymoney/v1/accounts/{{account.id}}/transfers"
        handle-as="json"
        method="POST"
        on-request-success="_handleRequestAddTransferSuccess"
        on-request-error="_handleRequestAddTransferError"
        >
    </cells-generic-dp>

  </template>
  <script src="easy-money-transfer-form.js"></script>
</dom-module>
